<div class="">
  <top_navbar></top_navbar>
  <div id="trans_create_form" class="container pt-5">
      <div class="row" >
        <div class="col-10 col-sm-10 col-md-10 col-lg-10"><h1 class="display-5 mb-5">{{ 'global.multiValueForm' | translate }}</h1></div>
        <div class="col-2 col-sm-2 col-md-2 col-lg-2">
          <button type="button" (click)="addQuantity()" id="addMore" class="btn btn-primary">Add More</button>
        </div>
      </div>
      <form [formGroup]="customerForm" (ngSubmit)="onSubmit()" >  
        <div formArrayName="quantities">
          <div *ngFor="let quantity of quantities.controls; let i=index" [formGroupName]="i" class="formWrap">
            <div  class="formDiv">
              <div class="row">
                <div class="col-8 col-sm-8 col-md-10 col-lg-10">
                  <!-- choosing the Customer Type -->
                  <mat-radio-group formControlName="customer_type"  (change)="setValidations($event,i,'customer_type')">
                    <mat-radio-button class="mx-2" value="new" >
                      New
                    </mat-radio-button>
                    <mat-radio-button class="mx-2" value="existing" >
                      Existing
                    </mat-radio-button>
                    <mat-error *ngIf="getGroupControl(i).get('customer_type').hasError('required')">
                      Customer Type is required
                    </mat-error>
                  </mat-radio-group>
                </div>
                <div class="col-4 col-sm-4 col-md-2 col-lg-2">
                  <button (click)="removeQuantity(i)" class="btn">
                    <mat-icon class="red-icon">delete</mat-icon>
                  </button>  
                  <button (click)="resetQuantity(i)" class="btn">
                    <mat-icon class="red-icon">refresh</mat-icon>
                  </button>  
                  
                </div>
              </div>
              
              <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                  <!-- Reference -->
                  <mat-form-field >
                    <mat-label>Reference</mat-label>
                    <input
                      type="text"
                      matInput
                      formControlName="customerReference"
                      placeholder="Reference"
                      class="refClass"
                    />
                    <mat-error *ngIf="getGroupControl(i).get('customerReference').hasError('required')">
                        Reference is required
                    </mat-error>
                    <mat-error *ngIf="getGroupControl(i).get('customerReference').hasError('pattern')">
                      Invalid Reference
                  </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                  <!-- Customer Name -->
                  <mat-form-field >
                    <mat-label>Customer Number</mat-label>
                    <input
                      type="text"
                      matInput
                      formControlName="customer_number"
                      placeholder="Customer Number"
                      (change)="getCustDetails($event,i)"
                      [attr.disabled]="isEditCusNumber ? '' : null"
                    />
                    <mat-error *ngIf="getGroupControl(i).get('customer_number').hasError('required')">
                        Customer Number is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                    <!-- Customer Name -->
                    <mat-form-field >
                      <mat-label>Customer Name</mat-label>
                      <input
                        type="text"
                        matInput
                        formControlName="customerName"
                        placeholder="Customer Name"
                      />
                      <mat-error *ngIf="getGroupControl(i).get('customerName').hasError('required')">
                          Customer Name is required
                      </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                  <!-- Customer Name -->
                  <mat-form-field >
                    <mat-label>Customer Address</mat-label>
                    <input
                      type="text"
                      matInput
                      formControlName="customerAddress"
                      placeholder="Customer Address"
                    />
                    <mat-error *ngIf="getGroupControl(i).get('customerAddress').hasError('required')">
                        Customer Address is required
                    </mat-error>
                  </mat-form-field>
                </div>
            </div>
              
            <div class="row">
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                <!-- phone number -->
                <mat-form-field >
                  <mat-label>Phone</mat-label>
                  <input type="text" matInput formControlName="customer_phone_no" placeholder="Phone"/>
                  <mat-error *ngIf="getGroupControl(i).get('customer_phone_no').hasError('required')">
                    Phone is required
                  </mat-error>
                  <mat-error *ngIf="getGroupControl(i).get('customer_phone_no').hasError('pattern')">
                    Phone should be of numbers only
                </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                <!-- Transfer Amount -->
                <mat-form-field >
                  <mat-label>Transfer Amount</mat-label>
                  <input type="text" matInput formControlName="customerTransferAmount" placeholder="Transfer Amount"/>
                  <mat-error *ngIf="getGroupControl(i).get('customerTransferAmount').hasError('required')">
                    Transfer Amount is required
                  </mat-error>
                  <mat-error *ngIf="getGroupControl(i).get('customerTransferAmount').hasError('pattern')">
                    Transfer Amount should be of numbers only
                </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                <!-- Transfer Currency -->
                <mat-form-field >
                  <mat-label>Transfer Currency</mat-label>
                  <mat-select formControlName="customerTransferCurrency">
                      <mat-option *ngFor="let c of currencyList" [value]="c">
                        {{c}}
                      </mat-option>
                    </mat-select>
                  <mat-error *ngIf="getGroupControl(i).get('customerTransferCurrency').hasError('required')">
                    Transfer Currency is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                <!-- Beneficiary Bank -->
                <mat-form-field >
                  <mat-label>Beneficiary Bank</mat-label>
                  <input
                  type="text"
                  matInput
                  formControlName="beneficiary_bank"
                  placeholder="Beneficiary Bank"
                  />
                  <mat-error *ngIf="getGroupControl(i).get('beneficiary_bank').hasError('required')">
                      Beneficiary Bank is required
                  </mat-error>
                  <mat-error *ngIf="getGroupControl(i).get('beneficiary_bank').hasError('pattern')">
                    Beneficiary Bank should be of characters only
                  </mat-error>
                </mat-form-field>
              </div>
          </div>
              
          <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
              <!-- Beneficiary Account Number -->
              <mat-form-field >
                <mat-label>Beneficiary Account Number</mat-label>
                <input type="text" matInput formControlName="beneficiary_acc_no" placeholder="Beneficiary Account Number"/>
                <mat-error *ngIf="getGroupControl(i).get('beneficiary_acc_no').hasError('required')">
                Beneficiary Account Number is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
              <!-- Payment Details -->
              <mat-form-field >
                <mat-label>Payment Details</mat-label>
                <input
                type="text"
                matInput
                formControlName="payment_details"
                placeholder="Payment Details"
                />
                <mat-error *ngIf="getGroupControl(i).get('payment_details').hasError('required')">
                    Payment Details is required
                </mat-error>
                <mat-error *ngIf="getGroupControl(i).get('payment_details').hasError('pattern')">
                  Payment Details should be of characters only
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
              <!-- Credit/Debit Card Details -->
              <mat-form-field >
                <mat-label>Credit/Debit Card Details</mat-label>
                <input type="text" matInput formControlName="credit_debit_card_details" placeholder="Credit/Debit Card Details"/>
                <mat-error *ngIf="getGroupControl(i).get('credit_debit_card_details').hasError('required')">
                    Credit/Debit Card Details is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
              <!-- Region -->
              <mat-form-field >
                <mat-label>Region</mat-label>
                <mat-select formControlName="region"  (selectionChange)="setValidations($event,i,'region')">
                    <mat-option *ngFor="let r of regionList" [value]="r">
                      {{r}}
                    </mat-option>
                  </mat-select>
                <mat-error *ngIf="getGroupControl(i).get('region').hasError('required')">
                  Region is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
            </div>
        </div>
        <div class="pb-3">
          <button type="submit" class="btn btn-success subBtn">Submit</button>  
        </div>
        
      </form>  
  </div>
</div>
