<div class="">
    <top_navbar></top_navbar>
    <div class="jumbotron mt-5">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <button (click)="createTransaction()" id="new_transaction" class="btn btn-danger btn-lg float-right"> {{ 'homepage.new_transaction' | translate }} </button>
            </div>
    
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <button (click)="viewTransactions()" class="btn btn-danger btn-lg"> {{ 'homepage.view_transaction' | translate }} </button>
            </div>
        </div>
        
    </div>

</div>
